<p>Hola <%= @resource.email %>!</p>

<p>Para cambiar su contraseña, por favor ingrese en el siguiente link.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si usted no hizo la solicitud, por favor ignore el correo.</p>
<p> Su contraseña no sera modificada a no ser que ingrese en el link y lo modifique.</p>
